<div  class="text-center text-color-gray">
    <i> (Tên nhà thuốc)</i>
  </div>
  <br>
<form>
  <div class="form-group">
    <small id="help-drugStore-001" class="form-text danger text-muted">{{errorService.e100(drugStore.name, 'drugStore_name_100')}}</small>
    <input type="text" name="drugStore-name" id="drugStore-name" [class.form-control-danger]="errorService.get('drugStore_name_100')" class="form-control" [(ngModel)]='drugStore.name' placeholder="Tên nhà thuốc" aria-describedby="help-drugStore-001">
  </div>
</form>