<ng2-smart-table [settings]="table.settings" [source]="table.data"></ng2-smart-table>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <p>Subtotal:
          <span>00000</span>
        </p>
      </div>
      <div class="row">
          <p>Count items:
            <span>12</span>
          </p>
        </div>
      <div class="row">
        <p for="input-discount">Discount:</p>
        <div class="form-group col-6 col-md-4">
          <!-- <input type="number" class="form-control form-control-sm" name="input-discount" id="input-discount" aria-describedby="help-discount"
                placeholder="Discount"> -->
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <p>Total:</p>
      <h4>000000</h4>
    </div>
  </div>
  <hr>
  <!-- tools print, preview, clear -->
  <div class="btn-toolbar" role="toolbar" aria-label="">
    <div class="btn-group" role="group" aria-label="">
      <button type="button" class="btn btn-outline-primary gpp-text-size">
        <i class="icon ion-md-home"></i>in bill
      </button>
      <button type="button" class="btn btn-outline-primary gpp-text-size">
        <i class="icon ion-md-home"></i>xem bill</button>
      <button type="button" class="btn btn-outline-primary gpp-text-size">
        <i class="icon ion-md-home"></i>clear bill</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <button type="button" name="btn-saved" id="btn-saved" class="btn btn-info btn-sm btn-block col-6">Lưu lại</button>
    <button type="button" name="btn-success" id="btn-success" class="btn btn-success btn-sm btn-block col-6">Thanh toán</button>
    <!-- <button type="button" name="" id="" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link" btn-lg btn-block"></button> -->
  </div>
</div>
