<form class="col-md-6 offset-md-2">
    <div class="form-group">
        <label class="text-black">Mật khẩu</label>
        <input type="password" class="form-control form-control-sm|lg" placeholder="Họ và tên" id="name" name="name" [(ngModel)]="staff.userInfo.password"
            aria-describedby="help-user-001" required>
    </div>
    <div class="form-group">
        <label class="text-black">Mật khẩu mới</label>
        <input type="password" class="form-control form-control-sm|lg" placeholder="Họ và tên" id="name" name="name" [(ngModel)]="staff.userInfo.name"
            aria-describedby="help-user-001" required>
    </div>
    <div class="form-group">
        <label class="text-black">Nhập lại mật khẩu mới</label>
        <input type="password" class="form-control form-control-sm|lg" placeholder="Họ và tên" id="name" name="name" [(ngModel)]="staff.userInfo.name"
            aria-describedby="help-user-001" required>
    </div>
    <div class="row">
        <div class="col mx-auto text-center">
            <button [disabled]="false" (click)="updateStaff()" type="button" class="btn btn-success" name="submit" btn-lg btn-block>
            Lưu thông tin </button>
        </div>
    </div>
</form>