<div class="text-center text-color-gray">
  <i> (Tài khoản chủ nhà thuốc)</i>
</div>
<br>
<form>
  <small id="help-user-001" class="form-text danger text-muted"> {{errorService.e100(user.name, 'name_100')}}</small>
  <div class="form-group">
    <input type="text"  class="form-control" name="user-name" id="user-name" [(ngModel)]="user.name" [class.form-control-danger]="errorService.get('name_100')"
      aria-describedby="help-user-001" required placeholder="Họ và tên">
  </div>
  <small id="help-user-009" class="form-text danger text-muted">{{errorService.e101(user.gender, 'gender_101')}}</small>
  <div class="input-group text-center">
    <label class="custom-control custom-radio">
      <input type="radio" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" name="user-gender-m" id="user-gender-m"
        value="M" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Nam</span>
    </label>
    <label class="custom-control custom-radio">
      <input type="radio" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" name="user-gender-f" id="user-gender-f"
        value="F" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Nữ</span>
    </label>
    <label class="custom-control custom-radio">
      <input type="radio" [(ngModel)]="user.gender" name="user-gender-u" id="user-gender-u" value="U" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Không xác định</span>
    </label>
  </div>
  <small id="help-user-002" class="form-text danger text-muted">{{errorService.e100(user.birthday, 'birthday_100')}}<br>{{errorService.e102(user.birthday, 'birthday_102')}}</small>
  <div class="input-group">
    <span class="input-group-prepend">
      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
        <i class="far fa-calendar-alt"></i>
      </button>
    </span>
    <input type="date" [(ngModel)]="user.birthday" name="user-birthday" [class.form-control-danger]="errorService.get(['birthday_100', 'birthday_102'])" class="form-control " id="form-born" aria-describedby="help-user-002" placeholder="Ngày/tháng/năm sinh"
      required>
  </div>
  <small id="help-user-003" class="form-text danger text-muted">
    {{errorService.e100(user.phone.number,'number_100')}}
    <br>{{errorService.e103(user.phone.number, user.phone.codeCountry, 'number_103')}}
  </small>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button [(ngModel)]="user.phone.code" name="user-phone-code" value="+84" class="btn btn-outline-secondary dropdown-toggle"
        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngDefaultControl tabindex="-1">+84</button>
      <!-- <div class="dropdown-menu ">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" href="#">Separated link</a>
      </div> -->
      <!-- <select [(ngModel)]="user.phone.code" value="+84" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <option value="+84" >+84</option>
    </select> -->
    </div>
    <input type="text" [(ngModel)]="user.phone.number" [class.form-control-danger]="errorService.get(['number_100', 'number_103'])"
      class="form-control " name="user-phone-number" id="user-phone-number" placeholder="Số điện thoại" aria-label="help-user-003">
  </div>
  <small id="help-user-004" class="form-text danger text-muted">
    {{errorService.e100(user.email,'email_100')}}
    <br>{{errorService.e105(user.email,'email_105')}}
  </small>
  <div class="input-group">
    <span class="input-group-prepend">
      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
        <i class="far fa-envelope" aria-hidden="true"></i>
      </button>
    </span>
    <input type="email" [(ngModel)]="user.email" required [class.form-control-danger]="errorService.get(['email_100', 'email_105'])"
      class="form-control  form-control-sm|lg" name="user-email" id="user-email" aria-describedby="help-user-004" placeholder="Email">
  </div>
  <small id="help-user-005" class="form-text danger text-muted">
      {{errorService.e100(user.username,'username_100')}}
      <br>{{errorService.e107(user.username,'username_107')}}
  </small>
  <div class="input-group">
    <span class="input-group-prepend">
      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
        <i class="far fa-user-circle"></i>
      </button>
    </span>
    <input type="text" [(ngModel)]="user.username" [class.form-control-danger]="errorService.get(['username_100', 'username_107'])"
      class="form-control  form-control-sm|lg" name="user-username" id="user-username" aria-describedby="help-user-005" placeholder="Tên tài khoản">
  </div>
  <small id="help-user-006" class="form-text danger text-muted"> {{errorService.e100(user.password,'password_100')}}</small>
  <div class="input-group">
    <span class="input-group-prepend">
      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
        <i class="fa fa-lock"></i>
      </button>
    </span>
    <input type="password" name="user-password" [(ngModel)]="user.password" [class.form-control-danger]="errorService.get('password_100')"
      class="form-control  form-control-sm|lg" id="user-password" aria-describedby="help-user-006" placeholder="Mật khẩu bảo vệ">
  </div>
  <small id="help-user-007" class="form-text danger text-muted"> 
    {{errorService.e100(user.repassword,'repassword_100')}}
      <br>{{errorService.e110(user.password, user.repassword,'repassword_110')}}</small>
  <div class="input-group">
    <span class="input-group-prepend">
      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
        <i class="fa fa-lock"></i>
      </button>
    </span>
    <input type="password" name="user-repassword" [(ngModel)]="user.repassword" [class.form-control-danger]="errorService.get(['repassword_100','repassword_110'])"
      class="form-control  form-control-sm|lg" id="user-repassword" aria-describedby="help-user-007" placeholder="Nhập lại mật khẩu">
  </div>
  <small id="help-user-008" class="form-text danger text-muted">{{errorService.e111(user.checkTerm,'checkTerm_111')}}</small>
  <div class="input-group">
    <nb-checkbox [(ngModel)]="user.checkTerm" name="user-checkTerm" [class.form-control-danger]="errorService.get(['checkTerm_111'])">Tôi đồng ý với điều kiện và điều khoản sử dụng dịch vụ.</nb-checkbox>
  </div>
</form>