 .gpp-text-size {
   font-size: 0.8rem;
 } 
 nb-card-header p {
   text-align: center;
 }
 div.input-group {
   margin-bottom: 1rem;
 }
.btn-icon{
   padding: 0.3rem 0.8rem;
   font-size: 1.0rem;
 }
 .item-center{
  align-items: center;
}
a, button{
  cursor: pointer !important;
}