<app-notifications></app-notifications>
<nb-layout center>
  <nb-layout-header fixed>
    <div class="container">
      <div class="row mix-auto text-right item-center">
        ERP-PHARMACY
        <div class="col ">
          <a name="btnRegister" id="btnRegister" class="btn btn-outline-primary" (click)="goto('customer/login',{})" role="button">Đăng nhập</a>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column *ngIf="isSuccess">
      <nb-card class="text-center">
          <nb-card-header >
              Bạn đã đăng ký tài khoản thành công hệ thống ERP-PHARMACY
          </nb-card-header>
          <nb-card-body >
            <p>Để đăng nhập hệ thống, hãy xác thực email vừa đăng ký</p>
          </nb-card-body>
          <nb-card-footer>{{countdown}}s</nb-card-footer>
      </nb-card>
  </nb-layout-column>
  <nb-layout-column *ngIf="!isSuccess">
    <nb-card>
      <nb-card-body>
        <nb-layout>
          <nb-layout-column>

          </nb-layout-column>
          <nb-layout-column>
              <h2 class="text-center"> Đăng ký</h2>
              <br>
              <form>
                  <div class="form-group" >
                    <input type="text" [(ngModel)]="info.name" required class="form-control form-control-sm|lg" name="name" id="" aria-describedby="helpName"
                      placeholder="Họ và tên">
                    <!-- <small id="helpName" class="form-text text-muted">Help text</small> -->
                  </div>
                  <div class="input-group text-center">
                    <label class="custom-control custom-radio">
                      <input type="radio" [(ngModel)]="info.gender" [ngModelOptions]="{standalone: true}" name="sex" id="sexM" value="M" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Nam</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input type="radio" [(ngModel)]="info.gender" [ngModelOptions]="{standalone: true}" name="sex" id="sexF" value="F" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Nữ</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input type="radio" [(ngModel)]="info.gender" name="sex" id="sexU" value="U" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Không xác định</span>
                    </label>
                  </div>
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
                        <i class="far fa-calendar-alt"></i>
                      </button>
                    </span>
                    <input type="date" [(ngModel)]="info.birthday" name="birthday" class="form-control form-control-sm|lg"  id="form-born" aria-describedby="helpBorn"
                      placeholder="Ngày/tháng/năm sinh" required>
                    <!-- <small id="helpBorn" class="form-text text-muted">Help text</small> -->
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button [(ngModel)]="info.phone.code" name="code" value="+84" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngDefaultControl>+84</button>
                      <!-- <div class="dropdown-menu ">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div> -->
                      <!-- <select [(ngModel)]="info.phone.code" value="+84" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option value="+84" >+84</option>
                    </select> -->
                    </div>
                    <input type="text" [(ngModel)]="info.phone.number" required class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Số diện thoại"
                      aria-label="helpPhone">
                    <!-- <small id="helpPhone" class="form-text text-muted">Help text</small> -->
                  </div>
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
                        <i class="far fa-envelope" aria-hidden="true"></i>
                      </button>
                    </span>
                    <input type="email" [(ngModel)]="info.email" required class="form-control form-control-sm|lg" name="email" id="form-email" aria-describedby="helpEmail"
                      placeholder="Email">
                    <!-- <small id="helpEmail" class="form-text text-muted">Help text</small> -->
                  </div>
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
                        <i class="far fa-user-circle"></i>
                      </button>
                    </span>
                    <input type="text" [(ngModel)]="info.username"  required class="form-control form-control-sm|lg" name="username" id="form-username"
                      aria-describedby="helpUsername" placeholder="Tên tài khoản">
                    <!-- <small id="helpUsername" class="form-text text-muted">Help text</small> -->
                  </div>
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
                        <i class="fa fa-lock"></i>
                      </button>
                    </span>
                    <input type="password" name="password" [(ngModel)]="info.password"  required class="form-control form-control-sm|lg"
                      id="form-password" aria-describedby="helpPassword" placeholder="Mật khẩu bảo vệ">
                    <small id="helpPassword" class="form-text text-muted"> </small>
                  </div>
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
                        <i class="fa fa-lock"></i>
                      </button>
                    </span>
                    <input type="password" name="repassword" [(ngModel)]="info.repassword"  required class="form-control form-control-sm|lg"
                      id="form-repassword" aria-describedby="helpRePassword" placeholder="Nhập lại mật khẩu">
                    <small id="helpPassword" class="form-text text-muted"> </small>
                  </div>
                  <div class="input-group">
                    <nb-checkbox  [(ngModel)]="checkTerm" name="checkbox" required>Tôi đồng ý với điều kiện và điều khoản sử dụng dịch vụ.</nb-checkbox>
                  </div>
                </form>
                <div class="row">
                    <div class="col mx-auto text-center">
                        <button [disabled]="!checkTerm || isLoading"type="button" class="btn btn-success" name="submit" (click)="register()" btn-lg btn-block>Đăng ký</button>
                    </div>
                </div>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer>
    <p class="gpp-text-size">Contact us</p>
  </nb-layout-footer>
</nb-layout>