
<nb-card>
    <nb-card-body>
      <nb-actions size="medium">
        <nb-action>
          <div class="action-groups-header">
            ERP-PHARMACY
          </div>
        </nb-action>
        <nb-action>
<!--  -->
        </nb-action>
        <nb-action icon="nb-search"></nb-action>
        <nb-action icon="nb-email"></nb-action>
        <nb-action disabled icon="nb-notifications"></nb-action>
        <nb-action icon="nb-gear"></nb-action>
      </nb-actions>
    </nb-card-body>
  </nb-card>
<div class="row">
    <div class="col-6 col-sm-3 ">
        <!-- <nb-sidebar left state="collapsed"> -->
        <nb-sidebar left state="expanded">
            <nb-sidebar-header>
            </nb-sidebar-header>
            <nb-menu style="width: 200%;" id="menu-sidebar" tag="sidebarMenu" [items]="menuItems"></nb-menu>
            <nb-sidebar-footer>
            </nb-sidebar-footer>
          </nb-sidebar>
    </div>
  <div class="col-12 col-sm-6 col-md-9 custom-content">
      <nb-layout>
          <nb-layout-column center id="layout-top-padding">
              <nb-card>
                  <nb-card-body>
                      <nb-menu class='custom-menu-horizontal' id="menu-sidebar" tag="sidebarMenu" [items]="menuTop"></nb-menu>
                      <router-outlet></router-outlet>
                  </nb-card-body>
                </nb-card>
          </nb-layout-column>
        </nb-layout>
  </div>
</div>
