<ng-template #template let-c="close" let-d="dismiss" class="modal fade show">
    <div class="row">
        <div class="col-6">
            <div class="modal-header">
                <h6 class="modal-title">Hóa đơn</h6>
                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row" *ngIf="invoiceShort">
                    <div class="col-3">
                      <p>Mã hóa đơn:</p>
                      <p>{{invoice.code}}</p>
                    </div>
                    <div class="col-3">
                      <p>Ngày lập: </p>
                      <p> {{moment(invoice.time).format('DD-MM-YYYY')}}</p>
                    </div>
                    <div class="col-3">
                      <p>Nhà cung cấp:</p>
                      <p>{{invoice.company}}</p>
                    </div>
                    <div class="col-2">
                      <a href="#" class="badge badge-primary">Xem ảnh</a>
                    </div>
                    <div class="col-1">
                      <a name="invoice-btn-edit" id="invoice-btn-edit" class="btn-tn"  (click)="showInvoiceFull()">
                        <i class="far fa-edit"></i>
                      </a>
                    </div>
                  </div>
                  <div *ngIf="invoiceFull" (mouseleave)="showInvoiceShort()">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <p>Mã hóa đơn</p>
                          <input type="text" [(ngModel)]="invoice.code" name="invoice-code" id="invoice-code" class="form-control form-control-lg"
                            placeholder="Mã hóa đơn" aria-describedby="help-invoice-001">
                          <small id="help-invoice-001" class="form-text danger text-muted"></small>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <p>Ngày lập hóa đơn</p>
                          <input type="text" [(ngModel)]="invoice.time" name="invoice-time" id="invoice-time" class="form-control form-control-lg"
                            placeholder="Ngày lập hóa đơn" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }"
                            showWeekNumbers="false" />
                          <small id="help-invoice-002" class="form-text danger text-muted"> </small>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <ng-template #customItemCompany let-model="item" let-index="index">
                            <small> {{ index }}. {{model | json}}</small>
                          </ng-template>
                          <p>Nhà cung cấp</p>
                          <input name="invoice-company" id="invoice-company" [(ngModel)]="invoice.company" [typeahead]="companys" [typeaheadOptionsLimit]="10"
                            [typeaheadMinLength]="0" [typeaheadItemTemplate]="customItemCompany" [typeaheadWaitMs]="500" placeholder="Nhà cung cấp" class="form-control">
                          <small id="help-invoice-003" class="form-text danger text-muted"></small>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                            class="well my-drop-zone">
                            <p>Ảnh hóa đơn nhập hàng</p>
                            <small> Nhấp nút "Choose Files" hoặc kéo thả ảnh vào đây </small>
                            <input name="invoice-img" id="invoice-img" type="file" ng2FileSelect [uploader]="uploader" multiple />
                          </div>
                          <small id="help-invoice-004" class="form-text danger text-muted"> </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
        </div>
        <div class="col-6">
            <div class="modal-header">
                <h6 class="modal-title">Thêm sản phẩm</h6>
                <!-- <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body ">
                <form>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <!-- <ng-template #customItemMaterial let-model="item" let-index="index">
                          <small> {{ index }}. {{materials.name | json}}</small>
                        </ng-template> -->
                        <p>Tên sản phẩm</p>
                        <input  name="merchandiseMaterial" id="" [(ngModel)]="merchandise.name" [typeahead]="materials" typeaheadOptionField="name"  placeholder="Tên sản phẩm" class="form-control" >
                          <small id="help-merchandise-005" class="form-text danger text-muted"></small>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <p>Số lô</p>
                        <input type="text" [(ngModel)]="merchandise.lot" name="merchandise-lot" id="merchandise-lot" class="form-control form-control-lg"
                          placeholder="Số lô" aria-describedby="help-merchandise-006">
                        <small id="help-merchandise-006" class="form-text danger text-muted"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <p>Ngày sản xuất</p>
                        <input type="text" [(ngModel)]="merchandise.mfg" name="merchandise-mfg" id="merchandise-mfg" class="form-control form-control-lg"
                          placeholder="Ngày sản xuất" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }"
                          showWeekNumbers="false" />
                        <small id="help-merchandise-009" class="form-text danger text-muted"> </small>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <p>Hạn sử dụng</p>
                        <input type="text" [(ngModel)]="merchandise.exp" name="merchandise-exp" id="merchandise-exp" class="form-control form-control-lg"
                          placeholder="Hạn sử dụng" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }"
                          showWeekNumbers="false" />
                        <small id="help-merchandise-010" class="form-text danger text-muted"> </small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <p>Số lượng nhập</p>
                        <input type="number" min="0" [(ngModel)]="merchandise.quantity" name="merchandise-quantity" id="merchandise-quantity" class="form-control form-control-lg"
                          placeholder="số lượng nhập" aria-describedby="help-merchandise-007">
                        <small id="help-merchandise-007" class="form-text danger text-muted"></small>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <p>Mức tồn tối thiểu</p>
                        <input type="number" min="0" [(ngModel)]="merchandise.min" name="merchandise-min" id="merchandise-min" class="form-control form-control-lg"
                          placeholder="Mức tồn tới thiểu" aria-describedby="help-merchandise-008">
                        <small id="help-merchandise-008" class="form-text danger text-muted"></small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <p>Giá mua vào</p>
                        <input type="number" min="0" [(ngModel)]="merchandise.price.in" name="merchandise-price-in" id="merchandise-price-in" class="form-control form-control-lg"
                          placeholder="Giá mua vào" aria-describedby="help-merchandise-011">
                        <small id="help-merchandise-011" class="form-text danger text-muted"></small>
                      </div>
                    </div>
                    <div class="col-3">
                        <p>Thuế VAT (%)</p>
                        <div class="form-group">
                          <input type="number" min="0" max="100" [(ngModel)]="merchandise.vat" name="merchandise-vat" id="merchandise-vat" class="form-control form-control-lg"
                            placeholder="VAT" aria-describedby="help-merchandise-013">
                          <small id="help-merchandise-012" class="form-text danger text-muted"></small>
                        </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <p>Giá bán ra</p>
                        <input type="number" min="0" [(ngModel)]="merchandise.price.out" name="merchandise-price-out" id="merchandise-price-out" class="form-control form-control-lg"
                          placeholder="Giá bán ra" aria-describedby="help-merchandise-012">
                        <small id="help-merchandise-012" class="form-text danger text-muted"></small>
                      </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                          <p>Tổng</p>
                          <input type="number" min="0" [(ngModel)]="merchandise.total" name="merchandise-total" id="merchandise-total" class="form-control form-control-lg"
                            placeholder="Tổng" aria-describedby="help-merchandise-013">
                          <small id="help-merchandise-013" class="form-text danger text-muted"></small>
                        </div>
                      </div>
                  </div>
                  <button type="button" class="btn btn-outline-primary btn-tn" role="button"  (click)="updateTable()">
                    <small>Thêm vào bảng</small>
                    <i class="fas fa-plus"></i>
                </button>
                </form>
              </div>
          </div>
      </div>
      <hr>
      <ng2-smart-table [settings]="table.settings" [source]="table.data" ></ng2-smart-table>
  <!-- <div class="modal-header">
    <h6 class="modal-title">Sản phẩm nhập</h6>
  </div>
  <div class="modal-body">
      
  </div> -->

  
  <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary" (click)="modalRef.hide()">Lưu</button>
    </div>
</ng-template>

