<app-import></app-import>
<hr>

<div class="btn-group btn-group-xs" role="group" aria-label="button-open-modal-add">
  <button id="open-model-add" type="button" class="btn btn-primary btn-xs" (click)="openLg()">
    <span class="gpp-text-size"><i class="fas fa-plus"></i>Thêm hóa đơn</span>
  </button>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-xs" aria-controls="dropdown-basic">
      <span class="gpp-text-size">
        <span class="caret">Xuất số liệu</span>
      </span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem">
        <a class="dropdown-item" href="#">Excel</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Json</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">CSV</a>
      </li>
    </ul>
  </div>
</div>
<hr>
<!-- <ngb-pagination class="right" [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination> -->
<router-outlet></router-outlet>
