<ng-template #customItemTemplate let-model="item" let-index="index">
    <div class="row">
        <div class="col-1">
            <img src="assets/img/img-404.png" class="thumbnail rounded-circle img-responsive style-img-thumb" alt="image" />
        </div>
        <div class="col-11">
            <h6>{{model.search}} - {{model.code}} - {{model.mfg}} - {{model.exp}} - {{model.stock}} - {{model.min}}</h6>
        </div>
    </div>
  </ng-template>
<form>
  <div class="form-group input-group">
    <!-- <span class="input-group-prepend">
      <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
        <i class="far fa-envelope" aria-hidden="true"></i>
      </button>
    </span> -->
    <input name="search" id="search"  [(ngModel)]="itemChoosed" [typeahead]="items" [typeaheadItemTemplate]="customItemTemplate" class="form-control form-control-sm"
      [typeaheadOptionsLimit]="10" typeaheadOptionField="search" aria-describedby="help-user-004"
      placeholder="Search">
  </div>
  <div class="btn-group" btnRadioGroup name="categoryChoose" id="categoryChoose"  [(ngModel)]="categoryChoosed">
    <label class="btn btn-outline-primary gpp-text-size" btnRadio="all" tabindex="0" role="button">
      <i class="icon ion-md-home"></i>
    </label>
    <label *ngFor="let category of categories; let i = index" class="btn btn-outline-primary gpp-text-size" btnRadio="{{i}}"
      tabindex="0" role="button"> {{category.name}}</label>
  </div>
</form>
<hr>
<div class="row">
  <div *ngFor="let item of items; let i = index" class="col-6">
    <nb-card>
      <div class="container-fluid">
        <!-- <img src="" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|" alt=""> -->
        <div class="row">
          <div class="col-6 col-md-4">
            <img src="assets/img/img-404.png" class="thumbnail rounded-circle img-responsive style-img-thumb" alt="image" />
          </div>
          <div class="col-11 col-sm-4 col-md-7">
            <h6>{{item.search}}</h6>
            <p>{{item.code}}
              <br>{{item.mfg}} - {{item.exp}}
              <br>{{item.stock}}/{{item.min}}
            </p>
          </div>
          <div id="tool" class="col-1 col-sm-2 col-md-1">
            <button type="button" name="btn-plus" id="btn-plus" class="btn btn-primary btn-sm btn-block" (click)="addDetail(item)">
                <i class="icon ion-md-add"></i>
            </button>
            <button type="button" name="btn-plus" id="btn-subtract" class="btn btn-sm btn-block" (click)="removeDetail(item)">
                <i class="icon ion-md-remove"></i>
            </button>
          </div>
        </div>
      </div>
    </nb-card>
  </div>

</div>
