.btn-group .btn{
  margin: 0.1rem 0.1rem;
  border-radius: .275rem;
  padding: 0.2rem 0.5rem;

}
.gpp-text-size{
  font-size: 0.8rem;
  font-weight: inherit;
}
.style-img-thumb{
  max-width: 100%;
  height: auto;
}
#tool, #btn-plus,#btn-subtract{
  padding: 0px 0px;
  border-radius: 0rem;
}
