<br>
<button type="button" name="btn-add" id="btn-add" class="btn btn-outline-primary btn-lg btn-block">
  <i class="icon ion-md-add"></i> Add
</button>
<br>
<div *ngFor="let item of invoices; let i = index">
  <nb-card>
    <div class="container-fluid">
      <!-- <img src="" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|" alt=""> -->
      <div class="row">
        <div class="col-6 col-md-4">
          <img src="assets/img/img-404.png" class="thumbnail rounded-circle img-responsive style-img-thumb" alt="image" />
        </div>
        <div class="col-11 col-sm-4 col-md-7 style-info-nopadding">
          <h6 class="text-success" (onclick)="activeBill(item)">
              <a class="text-success">
                  {{item.patient.name}} - {{item.patient.gender}}
              </a>
          </h6>
          <p> {{item.patient.phoneNumber}} - {{item.code}}
            <br>{{item.time}} - {{item.totalAmount}}
            <br>{{item.staff.name}}
          </p>
        </div>
        <div id="tool" class="col-1 col-sm-2 col-md-1">
          <button type="button" name="btn-plus" id="btn-subtract" class="btn btn-sm btn-block">
            <i class="icon ion-md-remove"></i>
          </button>
        </div>
      </div>
    </div>
  </nb-card>
</div>
