<app-notifications></app-notifications>
<nb-layout center>
  <nb-layout-header fixed>
    <div class="container">
      <div class="row mix-auto text-right item-center">
        ERP-PHARMACY
        <div class="col ">
          <a name="btnRegister" id="btnRegister" class="btn btn-outline-primary" (click)="goto('pharmacy/register',{})" role="button">Đăng ký</a>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-layout>
          <nb-layout-column>

          </nb-layout-column>
          <nb-layout-column>
            <h2 class="text-center"> Đăng nhập</h2>
            <br>
            <form>
                <small id="help-user-001" class="form-text danger text-muted">{{errorService.e100(info.username, 'username')}}</small>
                <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
                    <i class="far fa-user-circle"></i>
                  </button>
                </span>
                <input type="text" [(ngModel)]="info.username" required class="form-control form-control-sm" [class.form-control-danger]="errorService.get('username')"
                 name="username" id="form-username" aria-describedby="helpUsername" placeholder="Tên tài khoản">
              </div>
              <small id="help-user-002" class="form-text danger text-muted">{{errorService.e100(info.password, 'password')}}</small>
              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
                    <i class="fa fa-lock"></i>
                  </button>
                </span>
                <input type="password" [(ngModel)]="info.password" required class="form-control form-control-sm" [class.form-control-danger]="errorService.get('password')"
                 name="password" id="form-password" aria-describedby="helpPassword" placeholder="Mật khẩu bảo vệ">
              </div>
              <div class="row">
                <div class="col text-right">
                  <a id="" href="#"> Quên mật khẩu</a>
                </div>
              </div>
              <div class="input-group">
                <nb-checkbox [(ngModel)]="checkSave" name="checkSave" id="checkSave" checked>Ghi nhớ tài khoản để đăng nhập lần sau.</nb-checkbox>
              </div>
            </form>
            <div class="row" *ngIf="!verify">
              <div class="col mx-auto text-center">
                <button type="button" [disabled]="checkLoading" class="btn btn-success" (click)='login(info)' btn-lg btn-block>Đăng nhập</button>
              </div>
            </div>
            <div class="row" *ngIf="verify">
              <div class="col mx-auto text-center">
                <button type="button" [disabled]="checkLoading" class="btn btn-success" (click)='confirmVerify(info)' btn-lg btn-block>Đăng nhập</button>
              </div>
            </div>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer>
    <p class="gpp-text-size">Contact us</p>
  </nb-layout-footer>
</nb-layout>
