<nb-layout-column>
  <nb-card class="text-center">
      <nb-card-header >
          Bạn đã đăng ký tài khoản thành công hệ thống ERP-PHARMACY
      </nb-card-header>
      <nb-card-body >
        <p>Để đăng nhập hệ thống, hãy xác thực email vừa đăng ký</p>
      </nb-card-body>
      <nb-card-footer>{{countdown}}s</nb-card-footer>
  </nb-card>
</nb-layout-column>