<form class="col-md-6 offset-md-2">
  <!-- <small id="help-user-001" class="form-text {{helpCode.level}} text-muted">{{helpText.name[helpCode.name]}}</small> -->
  <div class="form-group">
    <label class="text-black">Họ Và Tên</label>
    <input type="text" class="form-control form-control-sm|lg" placeholder="Họ và tên" id="name" name="name" [(ngModel)]="staff.userInfo.name"
      aria-describedby="help-user-001" required>
  </div>
  <!-- <small id="help-user-009" class="form-text text-muted"></small> -->
  <div>
    <label class="text-black">Giới Tính</label>
    <div class="input-group text-center">
      <label class="custom-control custom-radio">
        <input type="radio"  [(ngModel)]="staff.userInfo.gender" [checked]="(staff.userInfo.gender=='M')?true:false" value="M" class="custom-control-input" name="M">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Nam</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" [(ngModel)]="staff.userInfo.gender" [checked]="(staff.userInfo.gender=='F')?true:false"  value="F" name="F"
          class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Nữ</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" [(ngModel)]="staff.userInfo.gender" [checked]="(staff.userInfo.gender=='U')?true:false" value="U" name="U"
          class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Không xác định</span>
      </label>
    </div>
  </div>
  <!-- <small id="help-user-002" class="form-text text-muted"></small> -->
  <div>
    <label class="text-black">Ngày Sinh</label>
    <div class="input-group">
      <span class="input-group-prepend">
        <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
          <i class="far fa-calendar-alt"></i>
        </button>
      </span>
      <input type="text" value="{{staff.userInfo.birthday | date: 'dd/MM/yyyy' }}" [(ngModel)]="staff.userInfo.birthday" class="form-control  form-control-sm|lg "
        id="birthday" aria-describedby="help-user-002" placeholder="Ngày/tháng/năm sinh" name="birthday" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }"
        showWeekNumbers="false" required>
    </div>
  </div>
  <!-- <small id="help-user-003" class="form-text  text-muted"></small> -->
  <div>
    <label class="text-black">Số Điện Thoại </label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button name="user-phone-code" value="+84" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" ngDefaultControl tabindex="-1">+84</button>
        <!-- <div class="dropdown-menu ">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" href="#">Separated link</a>
      </div> -->
        <!-- <select [(ngModel)]="user.phone.code" value="+84" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <option value="+84" >+84</option>
    </select> -->
      </div>
      <input type="text" [(ngModel)]="staff.userInfo.phone.number" name="phone" class="form-control " id="user-phone-number" placeholder="Số điện thoại" aria-label="help-user-003">
    </div>
  </div>
  <!-- <small id="help-user-004" class="form-text  text-muted"></small> -->
  <div>
    <label class="text-black">Email</label>
    <div class="input-group">
      <span class="input-group-prepend">
        <button class="btn btn-primary btn-icon input-group-text" tabindex="-1">
          <i class="far fa-envelope" aria-hidden="true"></i>
        </button>
      </span>
      <input type="email" [(ngModel)]="staff.userInfo.email" name="email" required class="form-control  form-control-sm|lg" id="user-email" aria-describedby="help-user-004" placeholder="Email">
    </div>
  </div>
  <!-- <small id="help-user-005" class="form-text  text-muted"></small> -->
  <div class="row">
    <div class="col mx-auto text-center">
      <button [disabled]="false" (click)="updateStaff()" type="button" class="btn btn-success" name="submit" btn-lg btn-block> Lưu thông tin </button>
    </div>
  </div>
</form>
