@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
  footer-height : 2.0rem,
  footer-padding : 0.5rem,
  layout-fg: #fff,
  layout-bg: #fff,
  layout-min-height: 20vh,
  font-size: 0.8rem
  // header-padding: 0rem 10rem,
), default, default);

$nb-themes: nb-register-theme((
  footer-height : 2.0rem,
  footer-padding : 0.5rem,
  layout-fg: #fff,
  layout-bg: #fff,
  layout-min-height: 20vh,
  font-size: 0.8rem
  // header-padding: 0rem 10rem,
), custom_v2, corporate);

$nb-themes: nb-register-theme((
  header-height: 2.75rem,
  footer-height : 2.0rem,
  footer-padding : 0.5rem,
  layout-fg: #fff,
  layout-bg: #fff,
  layout-min-height: 20vh,
  sidebar-header-height: 2.75rem,
  font-size: 0.8rem
), pharmacy, corporate);

//CSS
input.completer-input {
  border-radius: .375rem;
  line-height: 1.25;
  padding: .375em .75em;
  border: 2px solid #dadfe6;
}

input.completer-input:focus {
  border-radius: .375rem;
  border: 2px solid #40dc7e;
}
table thead tr th input:focus {
  width: auto !important;
}

table thead tr th input {
  width: 100% !important;
   /* -webkit-transition: width 10s, -webkit-transform 10s; */
  transition: width 5s ease-in-out;
}

.custom-menu-horizontal ul li {
  text-align: center;
  float: left;
  border: 0 !important;
}
.custom-menu-horizontal{
  width: 100%;
}
.custom-menu-horizontal ul li a:focus{
  border-bottom:  2px solid #40dc7e !important;
}
.dropdown-menu.show{
  width: auto !important;
  min-width: 100%;
}
.gpp-text-size {
  font-size: 0.8rem;
}
nb-card-header p {
  text-align: center;
}
div.input-group {
  margin-bottom: 1rem;
}
.btn-icon{
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem !important;
}
.item-center{
 align-items: center;
}
a, button{
cursor: pointer !important;
}
tr th a, p, .nb-theme-default .form-control{
  font-size: 0.8rem !important;
  color: #2a2a2a;
}
@media(min-width: 992px){
  .modal-xl{
    max-width: 1080px;
  }
}
.warning{
  color: #ffa100 !important;
}
.danger{
  color: #ff4c6a !important;
}
.style-float-left{
  float: left;
}
.style-float-right{
  float: right;
}
