<nb-layout>
  <nb-layout-column class="col-12 col-sm-6 col-md-8">
    <app-search-item></app-search-item>
  </nb-layout-column>
  <nb-layout-column class="col-6 col-md-4">
    <nb-tabset fullWidth="true">
      <nb-tab tabTitle="Saved">
        <app-list-bill></app-list-bill>
      </nb-tab>
      <nb-tab tabTitle="Processing" >
        <app-bill></app-bill>
      </nb-tab>
    </nb-tabset>
    <hr>
  </nb-layout-column>
</nb-layout>
