<app-notifications></app-notifications>
<nb-layout center>
  <nb-layout-header fixed>
    <div class="container">
      <div class="row mix-auto text-right item-center">
        NHATHUOC-GPP
        <div class="col ">
          <a name="btnRegister" id="btnRegister" class="btn btn-outline-primary" (click)="goto('pharmacy/login',{})" role="button">Đăng nhập</a>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-layout>
          <nb-layout-column>

          </nb-layout-column>
          <nb-layout-column>
              <h2 class="text-center"> Đăng ký</h2>
              <!-- <br> -->
              <router-outlet ></router-outlet>
              <!-- <app-step1></app-step1> -->
              <div class="row" *ngIf="whatStep=='step1'">
                <div class="col mx-auto text-center">
                    <button [disabled]="!user.checkTerm || errorService.getAll()" type="button" class="btn btn-success" name="submit" (click)="step1()" btn-lg btn-block> Tiếp tục
                      <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
              </div>
              <div class="row" *ngIf="whatStep=='step2'">
                <div class="col mx-auto text-center" >
                  <button [disabled]="stateBtn.step2.isLoading"type="button" class="btn btn-success" name="submit" (click)="step2()" btn-lg btn-block> Đăng ký </button>
                </div>
              </div>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer>
    <p class="gpp-text-size">Contact us</p>
  </nb-layout-footer>
</nb-layout>
